html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', serif; /* Apply Google Font */
}

body {
    line-height: 1.6;
    background: url('images/background.png') no-repeat center center fixed; /* Set background image */
    background-size: cover; /* Cover the whole area */
    /* overflow: hidden; Prevent scrolling */
}

.container {
    height: 80vh; /* Full height for the container */
    position: relative; /* For positioning the card */
    z-index: 1; /* Make sure card is above the background */
}


/* Social Media Icons Styling */
.social-icons {
    display: flex;
    gap: 15px; /* Add space between icons */
    margin-top: 10px; /* Space above the icons */
}

.social-icons a {
    color: #000; /* Default color of the icons */
    text-decoration: none;
}

.social-icons a:hover {
    color: #007bff; /* Change color on hover */
}